* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ChangwonDangamAsac";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*visual*/

#visual {
  width: 100%;
  height: 400px;
  background-color: #fcae18;
  position: relative;
}

#visual {
  width: 100%;
  height: 400px;
  background-color: #8ad0b4;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
.visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.visual img {
  position: absolute;
  display: block;
}

.visual .bg {
  top: -80px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.visual .store {
  bottom: 0;
  left: 35%;
  transform: translateX(-50%);
  width: 1023px;
  z-index: 2;
  top: px;
}

.visual .belt {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}

/* 스토어 탭 메뉴 */

/* .tab01 {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #fffae6;
  border-radius: 30px;
  width: 1000px;
  align-items: center;
  padding: 10px 0;
  margin: 0px auto;
  position: relative;
  z-index: 4;
  box-shadow: 4px 4px 0px #00000052;
}

.tab01 button {
  background-color: #fffae6;
  border: none;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50px;
  color: #404040;
  transition: all 0.3s;
}

#tab-menu {
  margin-top: 0px;
  position: relative;
  top: -50px;
} */
.button {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 85px;
  background-color: #fff8e2;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
  box-sizing: border-box;
  z-index: 4;
}

.button li {
  text-align: center;
  width: calc(100% / 3);
  color: #404040;
  height: 65px;
  border-radius: 50px;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: bolder;
  line-height: 65px;
  font-family: "YeogiOttaeJalnan";
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button li.on a {
  display: block;
  background-color: #f1ead2;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.3);
}
/* 마우스 오버 시 */
.button li:hover a {
  display: block;
  background-color: #f1ead2;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.3);
}

/* 스토어 화면 */
#store {
  width: 100%;
  height: 930px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0px;
  top: -20px;
}

.store-bg img {
  width: 100%;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 930px;
}
.store-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 930px;

  margin-top: 20px;
}
.store-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../img/store/Rectangle 87.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  z-index: 0;
}

/* 전체 컨테이너 */
.store-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 100%;
  margin: 0 auto;

  z-index: 1;
  padding-top: 20px;
}

/* 왼쪽 매장 영역 */
.store-left {
  position: relative;
  width: 548px;
  height: 526px;
  background-color: #fff8e2;
  border-radius: 49px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #efdea9;
  margin-left: 100px;
}

.store-photo {
  text-align: center;
}

.store-photo img {
  width: 468px;
  height: 353px;
  border-radius: 49px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  z-index: 5;
  opacity: 1;
}
.store-photo h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Pyeongchang";
  font-weight: 700;
}

.store-photo p {
  font-size: 16px;
  color: #555;
  font-family: "Pyeongchang";
  font-weight: 300;
}

.store-bg {
  pointer-events: none;
}

/* 화살표 버튼 */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #c8353f;
  border: none;
  color: #fff8f8;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: #ff7961;
}

.arrow.left {
  left: -25px;
}

.arrow.right {
  right: -25px;
}

/* 오른쪽 매장 리스트 */
.store-right {
  width: 548px;
  height: 526px;
  overflow-y: auto;
  background-color: #fff8e2;
  border-radius: 49px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px #efdea9;
  position: relative;
  margin-right: 100px;
}

.store-list {
  list-style: none;
}

.store-list li {
  border: 2px solid #130000;
  border-radius: 50px;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 291px;
  margin: 30px auto;
  font-size: 16px;
  font-family: "Pyeongchang";
  font-weight: 700;
}

.store-list li:hover {
  background-color: whitesmoke;
}
/* 매장 리스트 스크롤바*/
.store-right::-webkit-scrollbar {
  width: 30px;
}

.store-right::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 없애서 안쪽 느낌 */
  margin: 40px 0; /* 위아래 여백 줘서 길이 짧게 */
}

.store-right::-webkit-scrollbar-thumb {
  background: #c8353f; /* 스크롤 손잡이 색 */
  border-radius: 15px;
  border: 10px solid #fff8e2; /* 안쪽으로 들어온 느낌 */
}

.store-right::-webkit-scrollbar-thumb:hover {
  background: #e15c67; /* hover 시 색 강조 */
}

/* 스토어 온라인 탭2 메뉴 */

/* .tab02 {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #fffae6;
  border-radius: 30px;
  width: 1000px;
  align-items: center;
  padding: 10px 0;
  margin: 0px auto;
  position: relative;
  top: -150px;
  box-shadow: 4px 4px 0px #00000052;
}

.tab02 button {
  background-color: #fffae6;
  border: none;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50px;
  color: #404040;
  transition: all 0.3s;
} */
/* button02 */
.button02 {
  position: absolute;
  top: 1280px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 85px;
  background-color: #fff8e2;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
  box-sizing: border-box;
  z-index: 1;
}

.button02 li {
  text-align: center;
  width: calc(100% / 3);
  color: #404040;
  height: 65px;
  border-radius: 50px;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: bolder;
  line-height: 65px;
  font-family: "YeogiOttaeJalnan";
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button02 li.on a {
  display: block;
  background-color: #f1ead2;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.3);
}
/* 마우스 오버 시 */
.button02 li:hover a {
  display: block;
  background-color: #f1ead2;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.3);
}

/* catering 01  */
#catering01 {
  background-image: url(../../img/store/visual.png);
  width: 100%;
  height: 830px;
  margin: 0px auto;
}
.cater01 {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 1400px;
  margin: 0px auto;
}
.cater01-left h2 {
  color: #f44f55;
  font-size: 44px;
  margin-top: 321px;
  margin-bottom: 64px;
  font-family: "ChangwonDangamAsac", sans-serif;
}
.cater01-left p {
  font-size: 26px;
  font-family: "Pyeongchang";
  font-weight: 300;
}
.tv01 {
  margin-top: 227px;
}
.cater01-right {
  margin-top: 200px;
}

/* catering 02 */
#catering02 {
  width: 100%;
  height: 771px;
  background-color: #fff7dd;
  margin: 0px auto;
}
.cater02 {
  display: flex;
  justify-content: center;
  gap: 150px;
  width: 1400px;
  margin: 0px auto;
}
.cater02 h3 {
  color: #f2591e;
  font-size: 24px;
  margin-top: 65px;
  margin-bottom: 32px;
  font-family: "YeogiOttaeJalnan", sans-serif;
}

.cater02 p {
  font-size: 20px;
  font-family: "Pyeongchang";
  font-weight: 700;
}
.cater02 img {
  margin-top: 65px;
}
.cater02-01 h3 {
  margin-top: 61.5px;
}
/* cater02-01 */
.ring01 {
  position: relative;
  display: inline-block;
}
.ring01 .tv1 {
  position: absolute;
  top: -170px;
  left: -150px;
  height: auto;
  z-index: 2;
}
.tv1:hover {
  transform: translateY(-5px) scale(1.1);
}

/* cater02-02 */
.gomlove {
  position: relative;
  display: inline-block;
}

.gomlove img {
  position: absolute;
  transition: all 0.3s ease;
}

/* 곰 */
.gomlove .love {
  position: relative;

  z-index: 1;
}

/* 하트 배치 */
.gomlove .l1 {
  top: 10px;
  left: 60px;
  z-index: 1;
}
.gomlove .l2 {
  top: 70px;
  left: 20px;
  z-index: 1;
}
.gomlove .l3 {
  top: 130px;
  left: 20px;
  z-index: 1;
}
.gomlove .l4 {
  top: 180px;
  left: 60px;
  z-index: 1;
}
.gomlove .l5 {
  top: 200px;
  left: 180px;
  z-index: 1;
}
.gomlove .l6 {
  top: 180px;
  left: 270px;
  z-index: 1;
}
.gomlove .l7 {
  top: 160px;
  left: 340px;
  z-index: 1;
}
.gomlove .l8 {
  top: 80px;
  left: 360px;
  z-index: 1;
}
.gomlove .l9 {
  top: 20px;
  left: 310px;
  z-index: 1;
}

.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover,
.l6:hover,
.l7:hover,
.l8:hover,
.l9:hover {
  transform: translateY(-5px) scale(1.1);
}
/* catering02-03 */

.cater02-03 {
  position: relative;
}

.cater02-03 .donut {
  position: relative;
  display: inline-block;
}

.cater02-03 .donut img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  transition: transform 0.4s ease;
}

.cater02-03 .donut img:nth-child(1) {
  position: relative;
  top: -20px;
  left: 25px;
  z-index: 2;
}

.cater02-03 .donut img:nth-child(2) {
  z-index: 1;
}

/* hover 시 부드럽게 올라오는 효과 */
.cater02-03 .donut:hover img.dn1 {
  transform: translateY(-5px) scale(1.1);
}

/* cater03 오더 */
#cater03 {
  width: 100%;
  height: 1075px;
  display: flex;
  justify-content: center;

  background-color: #a2f6ff;
  background-image: url("../../img/store/catering-03-bg03.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.ct-order {
  width: 1400px;
  position: relative;
}
#cater03 h2 {
  color: #f44f55;
  font-size: 44px;
  position: relative;
  z-index: 5;
  margin-top: 250px;
  margin-left: 450px;
  top: -70px;
  left: -300px;
  transform: none;
  font-family: "ChangwonDangamAsac", sans-serif;
}
/* 오더메뉴판 */
.order {
  width: 570px;
  height: 727px;
  background-color: #edd6ab;
  border-radius: 35px;
  position: absolute;
  left: 800px;
  top: 200px;
}
.order-line {
  position: relative;
  top: 30px;
}

.input-box {
  display: block;
  width: 500px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 12px;
}
/* 결제방법 */
.order p {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 8px 31px;
  font-family: "Pyeongchang";
  font-weight: 700;
}

.how {
  width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  height: 44px;
  padding: 0 15px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.how label {
  cursor: pointer;
  font-size: 12px;
  font-family: "Pyeongchang";
  font-weight: 300;
}
/* 작성 버튼 */
.order button {
  width: 140px;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin: 40px auto 0;
  display: block;
  cursor: pointer;
  font-family: "Pyeongchang";
  font-weight: 700;
}

.bike {
  width: 500px;
  left: 70px;
  top: 50px;
}

.cloud {
  left: -360px;
  top: -230px;
  transform: translate(0, 0);
  z-index: 1;
  position: absolute;
}
.cater03-left {
  position: relative;
}
.cater03-left img {
  position: absolute;
  z-index: 0;
}

/* 모달창 */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #edd6ab;
  color: #333;
  font-family: "PyeongchangPeace", sans-serif;
  border-radius: 20px;
  padding: 40px;
  width: 400px;
  text-align: center;
  margin: 15% auto;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  margin-top: 200px;
}

.modal-content p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#closeModal {
  background: #000000;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

#closeModal:hover {
  background: #f44f55;
}

/* 
    태블릿 (max-width:1024px)
   */
@media screen and (max-width: 1024px) {
  /* visual */
  #visual {
    height: 220px;
  }

  .visual .store {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    width: 80%;
    height: 80px;
    top: 280px;
  }

  .button li {
    font-size: 22px;
    line-height: 70px;
  }

  /* store */
  .store-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .store-left,
  .store-right {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }

  .store-photo img {
    width: 100%;
    height: auto;
  }

  .store-list li {
    width: 80%;
  }

  /* catering01 */
  .cater01 {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .cater01-left h2 {
    font-size: 2rem;
    margin-top: 150px;
  }

  .cater01-left p {
    font-size: 1.2rem;
  }

  .cater01-right img {
    width: 80%;
    margin-top: 80px;
  }

  /* catering02 */
  .cater02 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
    width: 90%;
  }

  .cater02 h3 {
    font-size: 1.5rem;
  }

  .cater02 p {
    font-size: 1.1rem;
  }

  .gomlove img {
    width: 80%;
  }

  /* catering03 */
  #cater03 {
    height: auto;
    padding: 100px 0;
  }

  .ct-order {
    width: 90%;
  }

  .order {
    position: static;
    width: 100%;
    margin-top: 60px;
  }

  .bike,
  .cloud {
    display: none;
  }

  .button02 {
    position: static;
    width: 80%;
    margin: 80px auto 0;
    height: 80px;
  }

  .button02 li {
    font-size: 22px;
    line-height: 70px;
  }
}

/* 
    모바일 (max-width:768px)
  */
@media screen and (max-width: 768px) {
  /* visual */
  #visual {
    height: 240px;
  }

  .visual .store {
    width: 90%;
  }

  .button,
  .button02 {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 15px 0;
    gap: 10px;
  }

  .button li,
  .button02 li {
    font-size: 18px;
    height: auto;
    line-height: 1.5;
  }

  /* store */
  .store-container {
    width: 95%;
  }

  .store-left,
  .store-right {
    width: 100%;
    border-radius: 25px;
  }

  .store-photo h3 {
    font-size: 20px;
  }

  .store-photo p {
    font-size: 14px;
  }

  .store-list li {
    font-size: 14px;
    width: 90%;
  }

  /* catering */
  .cater01-left h2 {
    font-size: 1.8rem;
    margin-top: 100px;
  }

  .cater01-left p {
    font-size: 1rem;
  }

  .cater02 h3 {
    font-size: 1.2rem;
  }

  .cater02 p {
    font-size: 0.95rem;
  }

  .gomlove img {
    width: 90%;
  }

  /* cater03 */
  .order {
    width: 100%;
    border-radius: 20px;
    padding: 20px 10px;
  }

  .input-box,
  .how {
    width: 90%;
  }

  .order button {
    width: 80%;
    font-size: 16px;
  }

  .modal-content {
    width: 85%;
    padding: 25px;
  }
}
