* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/*visual*/

#visual {
  width: 100%;
  height: 400px;
  background-color: #fcae18;
  position: relative;
}

#visual {
  width: 100%;
  height: 400px;
  background-color: #8ad0b4;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
.visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.visual img {
  position: absolute;
  display: block;
}

.visual .bg {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.visual .store {
  bottom: 0;
  left: 35%;
  transform: translateX(-50%);
  width: 1023px;
  z-index: 2;
  top: px;
}

.visual .belt {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}

/* 스토어 탭 메뉴 */

/* .tab01 {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #fffae6;
  border-radius: 30px;
  width: 1000px;
  align-items: center;
  padding: 10px 0;
  margin: 0px auto;
  position: relative;
  z-index: 4;
  box-shadow: 4px 4px 0px #00000052;
}

.tab01 button {
  background-color: #fffae6;
  border: none;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50px;
  color: #404040;
  transition: all 0.3s;
}

#tab-menu {
  margin-top: 0px;
  position: relative;
  top: -50px;
} */
.button {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100px;
  background-color: #e5e0cc;
  border-radius: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
  box-sizing: border-box;
  z-index: 4;
}

.button li {
  text-align: center;
  width: calc(100% / 3);
  color: #404040;
  height: 80px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bolder;
  line-height: 80px;
  font-family: "Special Gothic", sans-serif;
}

.button li.on a {
  display: block;
  background-color: #c5c0a9;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 5px 2px rgba(0, 0, 0, 0.3);
  font-family: "Special Gothic", sans-serif;
}
/* 마우스 오버 시 */
.tab01 button:hover {
  background-color: #c5c0a9;
  color: #000;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.tab01 button.active {
  background-color: #fffae6;
  border: 3px solid #404040;
  color: #000;
}

/* 스토어 화면 */
#store {
  width: 100%;
  height: 930px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0px;
  top: -20px;
}
.store-bg img {
  width: 100%;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 930px;
}
.store-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 930px;

  margin-top: 20px;
}
.store-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../img/store/Rectangle 87.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  z-index: 0;
}

/* 전체 컨테이너 */
.store-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  gap: 80px;
  z-index: 1;
  padding-top: 20px;
}

/* 왼쪽 매장 영역 */
.store-left {
  position: relative;
  width: 548px;
  height: 526px;
  background-color: #fff8e2;
  border-radius: 49px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #efdea9;
}

.store-photo {
  text-align: center;
}

.store-photo img {
  width: 468px;
  height: 353px;
  border-radius: 49px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  z-index: 5;
  opacity: 1;
}
.store-photo h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.store-photo p {
  font-size: 16px;
  color: #555;
}

.store-bg {
  pointer-events: none;
}

/* 화살표 버튼 */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #c8353f;
  border: none;
  color: #fff8f8;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: #ff7961;
}

.arrow.left {
  left: -25px;
}

.arrow.right {
  right: -25px;
}

/* 오른쪽 매장 리스트 */
.store-right {
  width: 548px;
  height: 526px;
  overflow-y: auto;
  background-color: #fff8e2;
  border-radius: 49px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px #efdea9;
  position: relative;
}

.store-list {
  list-style: none;
}

.store-list li {
  border: 2px solid #130000;
  border-radius: 50px;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  width: 291px;
  margin: 30px auto;
  font-size: 16px;
}

.store-list li:hover {
  background-color: whitesmoke;
}
/* 매장 리스트 스크롤바*/
.store-right::-webkit-scrollbar {
  width: 30px;
}

.store-right::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 없애서 안쪽 느낌 */
  margin: 40px 0; /* 위아래 여백 줘서 길이 짧게 */
}

.store-right::-webkit-scrollbar-thumb {
  background: #c8353f; /* 스크롤 손잡이 색 */
  border-radius: 15px;
  border: 10px solid #fff8e2; /* 안쪽으로 들어온 느낌 */
}

.store-right::-webkit-scrollbar-thumb:hover {
  background: #e15c67; /* hover 시 색 강조 */
}

/* 스토어 온라인 탭2 메뉴 */

/* .tab02 {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #fffae6;
  border-radius: 30px;
  width: 1000px;
  align-items: center;
  padding: 10px 0;
  margin: 0px auto;
  position: relative;
  top: -150px;
  box-shadow: 4px 4px 0px #00000052;
}

.tab02 button {
  background-color: #fffae6;
  border: none;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50px;
  color: #404040;
  transition: all 0.3s;
} */
/* button02 */
.button02 {
  position: absolute;
  top: 1280px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100px;
  background-color: #e5e0cc;
  border-radius: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
  box-sizing: border-box;
  border: 3px solid #9d9c97;
  z-index: 4;
}

.button02 li {
  text-align: center;
  width: calc(100% / 3);
  color: #404040;
  height: 80px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bolder;
  line-height: 80px;
  font-family: "Special Gothic", sans-serif;
}

.button02 li.on a {
  display: block;
  background-color: #c5c0a9;
  border-radius: 50px;
  color: #404040;
  box-shadow: inset 2px 5px 2px rgba(0, 0, 0, 0.3);
  font-family: "Special Gothic", sans-serif;
}
/* 마우스 오버 시 */
.tab02 button:hover {
  background-color: #c5c0a9;
  color: #000;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.tab02 button.active {
  background-color: #fffae6;
  border: 3px solid #404040;
  color: #000;
}

/* catering 01  */
#catering01 {
  background-image: url(../../img/store/visual.png);
  width: 100%;
  height: 830px;
  margin: 0px auto;
}
.cater01 {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.cater01-left h2 {
  color: #f44f55;
  font-size: 44px;
  margin-top: 321px;
  margin-bottom: 64px;
}
.cater01-left p {
  font-size: 26px;
}
.cater01-right img {
  margin-top: 227px;
}

/* catering 02 */
#catering02 {
  width: 100%;
  height: 771px;
  background-color: #fff7dd;
  margin: 0px auto;
}
.cater02 {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.cater02 h3 {
  color: #f2591e;
  font-size: 26px;
  margin-top: 65px;
  margin-bottom: 32px;
}
.cater02 p {
  font-size: 20px;
}
.cater02 img {
  margin-top: 65px;
}
.cater02-01 h3 {
  margin-top: 61.5px;
}
/* catering03 */
#cater03 {
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: #a2f6ff;
  background-image: url("../../img/store/catering-03-bg03.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
#cater03 h2 {
  color: #f44f55;
  font-size: 44px;
  margin-top: 140px;
  margin-left: 135px;
  transform: translate(-300px, -70px);
}
/* 오더메뉴판 */
.order {
  width: 570px;
  height: 727px;
  background-color: #edd6ab;
  border-radius: 35px;
  margin-top: 155px;
  margin-left: 160px;
  transform: translate(200px, -70px);
}
.order-line {
  position: relative;
  top: 30px;
}

.input-box {
  display: block;
  width: 500px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 12px;
}
/* 결제방법 */
.order p {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 8px 31px;
}

.how {
  width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  height: 44px;
  padding: 0 15px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.how label {
  cursor: pointer;
  font-size: 12px;
}
/* 작성 버튼 */
.order button {
  width: 140px;
  height: 45px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin: 40px auto 0;
  display: block;
  cursor: pointer;
}
