* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}
body {
  height: 3000px;
}

#visual {
  width: 100%;
  height: 400px;
  background-color: #fcae18;
  position: relative;
}

/*container*/
#container {
  width: 100%;
  /* height: 100vh; */
  /* background-color: #fffae6; */
}

/*콘텐츠 공통 크기*/
.inner {
  width: 1400px;
  margin: 0px auto;
  border: 1px solid red;
}

/*container .page1*/
.section .page1 {
  overflow: hidden;
  position: relative;
  background-color: #fffae6;
}

.circleWrapper {
  position: absolute; /*부모(.page1)*/
  top: 25%;
  left: 0;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  /* transform: translateY(-50%); */
  z-index: 0;
}

.circle {
  width: 1000px;
  height: 1000px;
  position: relative;
  left: 0px;
  top: 0px; /* 수직 중앙 정렬을 위한 조정 (필요하다면) */

  animation: spin 30s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page1 .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title .line_left,
.title .line_right {
  height: 10px;
  background-color: #ed7121;
  width: 0%;
}

.title .line_left {
  transform-origin: right center;
}

.title .line_right {
  transform-origin: left center;
}

.page1 .title h2 {
  font-size: 4rem;
  margin: 50px 20px 50px 20px;
  color: #ed7121;
  font-family: "Special Gothic", sans-serif;
  opacity: 0;
  transition: 0.5s;
}

.page1 .store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  overflow: hidden;
}

.logo_bear {
  width: 400px;
  height: 400px;
}
.logo_bear img {
  width: 100%;
}

.franchise img {
  width: 100%;
}

/*page2 .story & page2 .dessert*/
.page2 {
  width: 100%;
  background-color: #ed7121;
  padding: 50px 0px;
  overflow: hidden;
}
.page2 .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Special Gothic", sans-serif;
}
.page2 .title h2 {
  font-size: 4rem;
  /* color: #fffae6; */
  color: #fffae6;
  opacity: 0;
  transition: 0.5s;
  margin: 0px 2rem;
}

.title .frame_left {
  transform: translateX(-300%);
  transition: 1s ease;
}

.title .frame_right {
  transform: translateX(300%);
  transition: 1s ease;
}

/*page2 story*/
.page2 .story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.page2 .dessert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 0px 350px;
}
.story .brandImg,
.dessert .brandImg {
  width: 60%;
}
.story .text,
.dessert .text {
  width: 30%;
}

.story .brandImg,
.story .text,
.dessert .brandImg,
.dessert .text {
  opacity: 0;
  transform: translateX(0); /* 중앙에 모여있음 */
  transition: 1.5s;
}

.story .brandImg img,
.dessert .brandImg img {
  width: 80%;
}

.story .text,
.dessert .text {
  /* width: 420px; */
  height: 400px;
  border: 1px solid green;
  word-break: keep-all;
  position: relative;
}
.story .text h3,
.dessert .text h3 {
  font-size: 3rem;
  color: gray;
  margin-bottom: 2.5rem;
}
.story .text h3 span,
.dessert .text h3 span {
  color: black;
}
.story .text > p,
.dessert .text > p {
  line-height: 2rem;
  font-size: 20px;
  color: #fffae6;

  /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
    -3px -3px 5px rgba(255, 255, 255, 0.5); */
}

.flavor .text > p,
.design .text > p {
  line-height: 2rem;
  font-size: 20px;
  font-weight: bold;
  color: #ed7121;

  /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
    -3px -3px 5px rgba(255, 255, 255, 0.5); */
}

.origin {
  position: absolute;
  left: 0px;
  bottom: -150px;
  font-size: 10rem;
  color: #fffae6;

  line-height: 5rem;
}
.origin p {
  margin-bottom: 70px;
  font-style: italic;
  font-weight: bold;
  opacity: 0.3;
  filter: blur(2px);
}
.word {
  margin-left: 200px;
}

/*page3*/
.page3 {
  /* height: 100vh; */
  background-color: #fffae6;
  overflow: hidden;
}

/*page3 흐르는 글자*/
.scrollText {
  width: 100%;
  height: 100px;
  background-color: bisque;
  padding: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.scroll-wrap {
  width: max-content;
  display: flex;
  animation: scroll 30s infinite linear;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-wrap ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.scroll-wrap li {
  width: 110px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scroll-wrap img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.scroll-wrap:hover {
  animation-play-state: paused;
}

/*page3 .flavor*/
.page3 .flavor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 100px 0px;
  overflow: hidden;
}

/*이미지 회전*/
.flavorImg {
  /*3D 깊이감을 주기 위해 perspective를 적용*/
  perspective: 1000px;
}

.page3 .flavorImg img {
  width: 80%;
}

.page3 .flavor .text {
  width: 30%;
  height: 400px;
  word-break: keep-all;
  position: relative;
  line-height: 2rem;
}
.page3 .flavor h3 {
  font-size: 3rem;
  color: gray;
  margin-bottom: 2.5rem;
}
.page3 .flavor h3 span {
  color: black;
}

.season {
  position: absolute;
  left: 0px;
  bottom: -100px;
  font-size: 10rem;
  color: #ed7121;
  line-height: 5rem;
}
.season p {
  margin-bottom: 70px;
  font-style: italic;
  font-weight: bold;
  opacity: 0.3;
  filter: blur(2px);
}

/*page3 .design*/
.page3 .design {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding-bottom: 200px;
  overflow: hidden;
}
.design .text {
  width: 30%;
  height: 400px;
  word-break: keep-all;
  /* position: relative; */
  line-height: 2rem;
}
.design h3 {
  font-size: 3rem;
  color: gray;
  margin-bottom: 2.5rem;
}
.page3 .design h3 span {
  color: black;
}

.design .text img {
  width: 40%;
  margin-top: 20px;
}
.design > img {
  width: 45%;
  padding-top: 200px;
  box-sizing: border-box;
}
