* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

#visual {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcae18;
  position: relative;
  background-image: url(../../img/about/visual_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*container*/
#container {
  width: 100%;
}

/*미디어쿼리 PC*/
@media (min-width: 1220px) {
  #visual {
    height: 400px;
  }

  #visual img {
    width: 65%;
    object-fit: cover;
  }

  /*콘텐츠 공통 크기*/
  section .inner {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }

  /*container .page1*/
  .page1 {
    overflow: hidden;
    position: relative;
    background-color: #fffae6;
  }

  .circleWrapper {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 0;
    opacity: 0.8;
  }

  .circle {
    width: 100%;
    animation: spin 30s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .page1 .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .title .line_left,
  .title .line_right {
    width: 0%;
    height: 10px;
    background-color: #ed7121;
  }

  .title .line_left {
    transform-origin: right center;
  }

  .title .line_right {
    transform-origin: left center;
  }

  .page1 .title h2 {
    font-size: 4rem;
    margin: 50px 20px 50px 20px;
    color: #ed7121;
    font-family: "Special Gothic", sans-serif;
  }

  .page1 .store {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    overflow: hidden;
  }

  .logo_bear {
    width: 400px;
  }
  .logo_bear img {
    width: 100%;
  }

  .franchise img {
    width: 100%;
  }

  /*page2 .story & page2 .dessert*/
  .page2 {
    width: 100%;
    background-color: #ed7121;
    padding: 50px 0px;
    overflow: hidden;
  }
  .page2 .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-family: "Special Gothic", sans-serif;
  }
  .page2 .title h2 {
    font-size: 4rem;
    color: #fffae6;
    opacity: 1;
    transition: 0.5s;
    margin: 0px 2rem;
  }

  .title .frame_left {
    transform: translateX(-500%);
    transition: 1s ease;
  }

  .title .frame_right {
    transform: translateX(500%);
    transition: 1s ease;
  }

  /*page2 story*/
  .page2 .story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
  }

  .page2 .dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 100px 0px;
  }
  .story .brandImg,
  .dessert .brandImg {
    width: 60%;
  }
  .story .text,
  .dessert .text {
    width: 30%;
  }

  .story .brandImg,
  .story .text,
  .dessert .brandImg,
  .dessert .text {
    opacity: 0;
    transform: translateX(0); /* 중앙에 모여있음 */
    transition: 1.5s;
  }

  .story .brandImg img,
  .dessert .brandImg img {
    width: 80%;
  }

  .story .text,
  .dessert .text {
    word-break: keep-all;
    position: relative;
  }
  .story .text h3,
  .dessert .text h3 {
    font-size: 3rem;
    color: gray;
    margin-bottom: 2.5rem;
  }
  .story .text h3 span,
  .dessert .text h3 span {
    color: black;
  }
  .story .text > p,
  .dessert .text > p {
    line-height: 2rem;
    font-size: 20px;
    color: #fffae6;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4),
      -3px -3px 5px rgba(255, 255, 255, 0.5);
  }

  .flavor .text > p,
  .design .text > p {
    line-height: 2rem;
    font-size: 20px;
    font-weight: bold;
    color: #ed7121;
  }

  .origin,
  .origin_1 {
    position: absolute;
    bottom: -200px;
    font-size: 10rem;
    color: #fffae6;
    line-height: 5rem;
  }
  .origin {
    left: -50%;
  }
  .origin_1 {
    left: 90%;
  }
  .origin p,
  .origin_1 p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(1.5px);
  }

  /*page3*/
  .page3 {
    background-color: #fffae6;
    overflow: hidden;
  }

  /*page3 흐르는 글자*/
  .scrollText {
    width: 100%;
    height: 100px;
    background-color: bisque;
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .scroll-wrap {
    width: max-content;
    display: flex;
    animation: scroll 30s infinite linear;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .scroll-wrap ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .scroll-wrap li {
    width: 110px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll-wrap img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .scroll-wrap:hover {
    animation-play-state: paused;
  }

  /*page3 .flavor*/
  .inner_1 {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    position: relative;
  }

  .page3 .flavor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    overflow: hidden;
  }

  /*이미지 회전*/
  .flavorImg {
    /*3D 깊이감을 주기 위해 perspective를 적용*/
    perspective: 1000px;
    margin-left: 2%;
    padding-top: 50px;
    box-sizing: border-box;
  }

  .page3 .flavorImg img {
    width: 80%;
  }

  .page3 .flavor .text {
    width: 35%;
    height: 400px;
    word-break: keep-all;
    position: relative;
    line-height: 2rem;
  }
  .page3 .flavor h3 {
    font-size: 3rem;
    color: gray;
    margin-bottom: 2.5rem;
  }
  .page3 .flavor h3 span {
    color: black;
  }

  .season {
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 10rem;
    color: #ed7121;
    line-height: 5rem;
  }
  .season p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(2px);
  }

  /*page3 .design*/
  .page3 .design {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-bottom: 200px;
    overflow: hidden;
  }
  .design .text {
    width: 30%;
    height: 400px;
    word-break: keep-all;
    line-height: 2rem;
  }
  .design h3 {
    font-size: 3rem;
    color: gray;
    margin-bottom: 2.5rem;
  }
  .page3 .design h3 span {
    color: black;
  }

  .design .text img {
    width: 40%;
    margin-top: 20px;
  }
  .design > img {
    width: 45%;
    padding-top: 200px;
    box-sizing: border-box;
  }
  .hide {
    display: none;
  }
}

/*----------------------------*/
/*미디어쿼리 태블릿*/
@media (min-width: 720px) and (max-width: 1219px) {
  #visual {
    height: 300px;
  }
  #visual img {
    width: 65%;
    object-fit: cover;
  }

  /*태블릿 container*/
  #container {
    width: 100%;
  }

  /*태블릿 콘텐츠 공통 크기*/
  .inner {
    /* max-width: 1000px; */
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }

  /*태블릿 container .page1*/
  .page1 {
    overflow: hidden;
    position: relative;
    background-color: #fffae6;
  }

  .circleWrapper {
    width: 400px;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 0;
    opacity: 0.5;
  }

  .circle {
    width: 100%;
    animation: spin 30s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .page1 .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .title .line_left,
  .title .line_right {
    width: 0%;
    height: 8px;
    background-color: #ed7121;
  }

  .title .line_left {
    transform-origin: right center;
  }

  .title .line_right {
    transform-origin: left center;
  }

  .page1 .title h2 {
    font-size: 3rem;
    margin: 40px 20px 40px 20px;
    color: #ed7121;
    font-family: "Special Gothic", sans-serif;
  }

  .page1 .store {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    overflow: hidden;
  }

  .logo_bear {
    width: 300px;
  }
  .logo_bear img {
    width: 100%;
  }

  .franchise img {
    width: 100%;
  }

  /*태블릿 page2 .story & dessert*/
  .page2 {
    width: 100%;
    background-color: #ed7121;
    padding: 50px 0px;
    overflow: hidden;
  }
  .page2 .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Special Gothic", sans-serif;
  }
  .page2 .title h2 {
    font-size: 3rem;
    color: #fffae6;
    opacity: 1;
    transition: 0.5s;
    margin: 0px 1rem;
  }

  .title .frame_left {
    transform: translateX(-500%);
    transition: 1s ease;
  }

  .title .frame_right {
    transform: translateX(500%);
    transition: 1s ease;
  }
  .frame_left img,
  .frame_right img {
    width: 80%;
  }
  /*태블릿 page2 story*/
  .page2 .story,
  .page2 .dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
  }

  .story .brandImg,
  .dessert .brandImg {
    width: 55%;
  }
  .story .text,
  .dessert .text {
    width: 35%;
    word-break: keep-all;
    position: relative;
  }

  .story .brandImg,
  .story .text,
  .dessert .brandImg,
  .dessert .text {
    opacity: 0;
    transform: translateX(0); /* 중앙에 모여있음 */
    transition: 1.5s;
  }

  .story .brandImg img,
  .dessert .brandImg img {
    width: 70%;
  }

  .story .text h3,
  .dessert .text h3 {
    font-size: 2.5rem;
    color: gray;
    margin-bottom: 2.5rem;
  }
  .story .text h3 span,
  .dessert .text h3 span {
    color: black;
  }
  .story .text > p,
  .dessert .text > p {
    line-height: 1.7rem;
    font-size: 20px;
    color: #fffae6;
  }

  .origin,
  .origin_1 {
    position: absolute;
    bottom: -70px;
    font-size: 5rem;
    color: #fffae6;
    line-height: 1.5rem;
  }
  .origin {
    left: -50%;
  }
  .origin_1 {
    left: 90%;
  }
  .origin p,
  .origin_1 p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(1.5px);
  }

  /*태블릿 page3*/
  .page3 {
    width: 100%;
    background-color: #fffae6;
    overflow: hidden;
  }

  /*태블릿 page3 흐르는 글자*/
  .scrollText {
    width: 100%;
    height: 80px;
    background-color: bisque;
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .scroll-wrap {
    width: max-content;
    display: flex;
    animation: scroll 50s infinite linear;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .scroll-wrap ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .scroll-wrap li {
    width: 110px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll-wrap img {
    width: 85%;
    height: 85%;
    object-fit: cover;
  }

  .scroll-wrap:hover {
    animation-play-state: paused;
  }

  /*태블릿 page3 .flavor*/
  .inner_1 {
    /* max-width: 1000px; */
    width: 100%;
    margin: 0px auto;
    position: relative;
  }

  .page3 .flavor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    overflow: hidden;
  }

  /*태블릿 이미지 회전*/
  .flavorImg {
    /*3D 깊이감을 주기 위해 perspective를 적용*/
    perspective: 1000px;
    width: 50%;
  }

  .page3 .flavorImg img {
    width: 100%;
  }

  .page3 .flavor .text {
    width: 40%;
    /* height: 400px; */
    word-break: keep-all;
    position: relative;
    line-height: 2rem;
  }

  .flavor .text > p,
  .design .text > p {
    line-height: 1.7rem;
    font-size: 20px;
    font-weight: bold;
    color: #ed7121;
  }

  .page3 .flavor h3,
  .design h3 {
    font-size: 2.5rem;
    color: gray;
    margin-bottom: 2.5rem;
  }
  .page3 .flavor h3 span,
  .page3 .design h3 span {
    color: black;
  }

  .season {
    position: absolute;
    left: 50%;
    top: 35%;
    font-size: 5rem;
    color: #ed7121;
    line-height: 1.5rem;
  }
  .season p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(2px);
  }

  /*태블릿 page3 .design*/
  .page3 .design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    overflow: hidden;
  }
  .design .text {
    width: 30%;
    word-break: keep-all;
    line-height: 2rem;
    padding-left: 20px;
  }

  .design .text img {
    padding-right: 50px;

    width: 65%;
  }
  .design > img {
    width: 47%;
    padding-top: 100px;
    box-sizing: border-box;
  }

  .design .show {
    display: none;
  }
}

/***** 미디어쿼리 모바일 *****/
@media (max-width: 719px) {
  #visual {
    height: 200px;
  }
  #visual img {
    width: 65%;
    object-fit: cover;
  }

  /*모바일 컨텐츠*/
  .inner {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
  }

  /*모바일 .page1*/
  .page1 {
    overflow: hidden;
    position: relative;
    background-color: #fffae6;
  }

  .circleWrapper {
    width: 300px;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 0;
    opacity: 0.5;
  }

  .circle {
    width: 100%;
    animation: spin 30s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .page1 .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .title .line_left,
  .title .line_right {
    width: 0%;
    height: 5px;
    background-color: #ed7121;
  }

  .page1 .title h2 {
    font-size: 2rem;
    margin: 20px 10px;
    color: #ed7121;
    font-family: "Special Gothic", sans-serif;
  }

  .page1 .store {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .logo_bear {
    display: none;
  }

  .franchise img {
    width: 100%;
  }

  /*모바일 page2 story & dessert*/
  .page2 {
    width: 100%;
    background-color: #ed7121;
    padding-top: 30px;
    overflow: hidden;
  }
  .page2 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Special Gothic", sans-serif;
  }
  .page2 .title h2 {
    font-size: 2rem;
    color: #fffae6;
    opacity: 1;
    transition: 0.5s;
  }

  .title .frame_left {
    transform: translateX(-500%);
    transition: 1s ease;
  }

  .title .frame_right {
    transform: translateX(500%);
    transition: 1s ease;
  }
  .frame_left img,
  .frame_right img {
    width: 50%;
  }
  /*모바일 page2 story*/
  .page2 .story,
  .page2 .dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
  }

  .story .brandImg,
  .dessert .brandImg {
    width: 45%;
  }
  .story .text,
  .dessert .text {
    width: 35%;
    word-break: keep-all;
    position: relative;
  }

  .story .brandImg,
  .story .text,
  .dessert .brandImg,
  .dessert .text {
    opacity: 0;
    transform: translateX(0);
    transition: 1.5s;
  }

  .story .brandImg img,
  .dessert .brandImg img {
    width: 80%;
  }

  .story .text h3,
  .dessert .text h3 {
    font-size: 2rem;
    color: gray;
    margin-bottom: 1.5rem;
  }
  .story .text h3 span,
  .dessert .text h3 span {
    color: black;
  }
  .story .text > p,
  .dessert .text > p {
    line-height: 1.5rem;
    font-size: 17px;
    color: #fffae6;
  }

  .origin,
  .origin_1 {
    position: absolute;
    bottom: -70px;
    font-size: 5rem;
    color: #fffae6;
    line-height: 1.5rem;
  }
  .origin {
    left: -50%;
  }
  .origin_1 {
    left: 90%;
  }
  .origin p,
  .origin_1 p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(1.5px);
  }

  /*모바일 page3*/
  .page3 {
    width: 100%;
    background-color: #fffae6;
    overflow: hidden;
  }

  /*모바일 page3 흐르는 글자*/
  .scrollText {
    width: 100%;
    height: 80px;
    background-color: bisque;
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .scroll-wrap {
    width: max-content;
    display: flex;
    animation: scroll 100s infinite linear;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .scroll-wrap ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .scroll-wrap li {
    width: 110px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll-wrap img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  .scroll-wrap:hover {
    animation-play-state: paused;
  }

  /*모바일 page3 .flavor*/
  .inner_1 {
    width: 100%;
    margin: 0px auto;
    position: relative;
  }

  .page3 .flavor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    overflow: hidden;
  }

  /*모바일 이미지 회전*/
  .flavorImg {
    perspective: 1000px;
    width: 50%;
  }

  .page3 .flavorImg img {
    width: 100%;
  }

  .page3 .flavor .text {
    width: 40%;
    word-break: keep-all;
    position: relative;
  }

  .flavor .text > p,
  .design .text > p {
    line-height: 1.5rem;
    font-size: 17px;
    font-weight: bold;
    color: #ed7121;
  }

  .page3 .flavor h3,
  .design h3 {
    font-size: 2rem;
    color: gray;
    margin-bottom: 1.5rem;
  }
  .page3 .flavor h3 span,
  .page3 .design h3 span {
    color: black;
  }

  .season {
    position: absolute;
    left: 40%;
    top: 35%;
    font-size: 5rem;
    color: #ed7121;
    line-height: 1.5rem;
  }
  .season p {
    margin-bottom: 70px;
    font-style: italic;
    font-weight: bold;
    opacity: 0.3;
    filter: blur(2px);
  }

  /*모바일 page3 .design*/
  .page3 .design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    overflow: hidden;
  }
  .design .text {
    width: 30%;
    word-break: keep-all;
    line-height: 2rem;
    box-sizing: border-box;
  }

  .design .text img {
    width: 50%;
  }
  .design > img {
    width: 45%;
    padding-top: 100px;
    /* box-sizing: border-box; */
  }

  .design .show {
    display: none;
  }
}
