@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
body {
  position: relative;
}
body.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 79, 85, 0.3);
  left: 0px;
  top: 0px;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

/*header nav*/

header {
  position: fixed;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  /* border: 1px solid red; */
  padding: 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
  width: 160px;
}
header h1 a.logo_or {
  opacity: 0;
}
header h1:hover a.logo_bk {
  opacity: 0;
  transition: 0.3s;
}
header h1:hover a.logo_or {
  opacity: 1;
  transition: 0.3s;
}

header h1 a {
  display: block;
  position: absolute;
  left: 0px;
  height: 0px;
}
header h1 img {
  width: 100%;
  display: block;
}

/*gnb*/
nav .gnb {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 24px;
  font-family: "YeogiOttaeJalnan";
  text-align: center;
  align-items: center;
}
.gnb li {
  width: 142px;
  height: 56px;
  line-height: 56px;
  border: 1px solid #333;
  border-radius: 100px;
  color: #333;
}
.gnb li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ed7121;
  color: #ed7121;
  transition: 0.3s;
}
.gnb li:nth-child(1) {
  transform: rotate(-15deg);
}
.gnb li:nth-child(2) {
  transform: rotate(10deg);
}
.gnb li:nth-child(3) {
  transform: rotate(-15deg);
}
.gnb li:nth-child(4) {
  transform: rotate(8deg);
}
.gnb li:nth-child(5) {
  width: 104px;
  height: 104px;
  line-height: 104px;
  cursor: pointer;
}
.gnb li a {
  display: block;
  border-radius: 52px;
}

/*moreMenu*/
.moreMenu {
  position: absolute;
  left: -60px;
  top: 0px;
  width: 0px;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
/*visual*/
#visual {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/main/visual_bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
  z-index: 0;
  position: relative;
  overflow: hidden;
}
#visual .bg {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/main/visual_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(1100px, 63%, 1500px);
  position: relative;
  backdrop-filter: blur(3px);
}
#visual .stickers {
  width: 100%;
  height: 100%;
  position: relative;
}
.stickers li {
  width: 10%;
  max-width: 135px;
  position: absolute;
}
.stickers li img {
  width: 100%;
  display: block;
}
.stickers li:nth-child(1) {
  width: 27%;
  max-width: 460px;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.stickers li:nth-child(2) {
  top: 28%;
  left: 33%;
}
.stickers li:nth-child(3) {
  right: 33%;
  top: 30%;
}
.stickers li:nth-child(4) {
  right: 23%;
  top: 48%;
}
.stickers li:nth-child(5) {
  bottom: 22%;
  right: 31%;
  min-width: 150px;
}
.stickers li:nth-child(6) {
  bottom: 10%;
  left: 28%;
  width: 100%;
  min-width: 220px;
}
.stickers li:nth-child(7) {
  top: 44%;
  left: 24%;
}
/*loop*/
.loop {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 66px;
  max-height: 90px;
  overflow: hidden;
}
/*loopArea*/
.loopArea {
  position: sticky;
  width: 100%;
  height: 66px;
  background-color: #ffcece;
}
.eventLoop .loopText {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: normal;
  font-family: "PyeongchangPeace";
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  animation: scLeft 6s linear infinite;
  /* overflow: hidden; */
  width: 100%;
}
/*visualLoop*/
.visualLoop {
  height: 66px;
  max-height: 100px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f2591e 0 50%, #f44f55 50% 100%);
}
.visualLoop .loopText {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: normal;
  font-family: "PyeongchangPeace";
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  animation: scRight 6s linear infinite;
  /* overflow: hidden; */
  width: 100%;
}
.loopText li {
  display: flex;
  width: 480px;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}
.loopText li img {
  width: 28px;
  height: 28px;
  display: block;
}
@keyframes scRight {
  100% {
    margin-left: 0px;
  }
  0% {
    margin-left: -480px;
  }
}
@keyframes scLeft {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 480px;
  }
}
.text li {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.text li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.top_bg {
  height: 50%;
  background-color: #f2591e;
}
.bottom_bg {
  height: 50%;
  background-color: #f44f55;
}

/*main*/

/*section*/

/*about*/
#about {
  width: 100%;
  height: 100vh;
  background-color: #f44f55;
  background-image: url(../../img/main/about_bg.png);
  background-repeat: no-repeat;
  background-size: 68%;
  position: sticky;
  top: 0px;
}
.inner {
  padding-left: 15%;
}
#about .inner {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 120px 100px;
  padding-left: 15%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
#about .textBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 43%;
  word-break: keep-all;
  padding-left: 120px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
#about .textBox h2 {
  font-family: "YeogiOttaeJalnan";
  font-size: 48px;
  line-height: 1;
  position: relative;
  text-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
#about .textBox h2::after {
  content: "";
  width: 0%;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -22px;
  left: 0px;
  transition: width 1.2s;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
#about .textBox h2.on::after {
  width: 390px;
}

#about .textBox p {
  font-size: 22px;
  opacity: 0;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

#about .inner .textBox p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: height 0.8s ease;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    0 100%
  );
}

#about .inner .textBox p.on::after {
  height: 260px;
}
#about .content {
  position: relative;
  height: 100%;
  width: 48%;
}
#about .inner {
  position: relative;
}

#about .textBox {
  position: relative;
  z-index: 1;
}

#about .content::after {
  content: "";
  width: 80%;
  height: 80%;
  background-color: #eb8181;
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: 0;
}
#about .images {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#about .images li {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0;
  transition: 1s;
}
#about .images li.on {
  opacity: 1;
}
#about .images li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .content .more {
  position: absolute;
  right: -90px;
  bottom: -80px;
  z-index: 2;
}
#about .content .more img {
  width: 400px;
}

/*menu*/
#menu {
  width: 100%;
  background-color: #f44f55;
  overflow: hidden;
  position: sticky;
}
#menu .walk {
}
#menu .walk img {
  display: block;
  width: 100px;
}

/*menu .inner*/

#menu .inner {
  box-sizing: border-box;
  background-color: #fffae6;
  width: 100%;
  position: relative;
}
#menu .donuts .inner {
  padding-top: 40px;
  border-radius: 80px 80px 0px 0px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/*menu inner title*/
#menu .inner .title {
  position: relative;
}
#menu .donuts .inner .title h3 {
  margin: 60px 0px auto;
}
#menu .inner .title h3 {
  margin: 0px auto;
  font-family: "Lilita One", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 60px;
  text-align: center;
  position: relative;
  color: #333;
}
#menu .inner .title span {
  position: absolute;
  width: 300px;
  height: 1px;
  background-color: #333;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
#menu .inner .title span.leftLine {
  left: 300px;
}
#menu .inner .title span.rightLine {
  right: 300px;
}

/*menu inner wrap*/
#menu .inner .warp {
  overflow: hidden;
  position: relative;
}
#menu .inner .donutMenu {
  display: flex;
  overflow: hidden;
  gap: 60px;
  width: 1030px;
  height: 500px;
  margin: 60px auto;
  margin-bottom: 0px;
}
#menu .beverage .inner {
  padding-top: 80px;
}
#menu .inner .donutMenu li {
  flex-shrink: 0;
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu .inner .donutMenu li img {
  margin: 30px 0px 40px;
  width: 70%;
}
#menu .inner .donutMenu li h4 {
  font-family: "Pyeongchang";
  font-weight: 700px;
  font-size: 20px;
}
/*wrap chev*/
#menu .inner .wrap .chev {
  width: 100%;
  height: 28px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding: 0px 200px 0px 470px;
  box-sizing: border-box;
}
#menu .inner .wrap .chev li {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}
#menu .donuts .inner .wrap .chev li {
  background-color: #f44f55;
}
#menu .beverage .inner .wrap .chev li {
  background-color: #78bbbf;
}

#menu .inner .wrap .more {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 57%;
  transform: translateX(-50%);
  font-family: "PyeongchangPeace";
  color: #fff;
  width: 210px;
  height: 70px;
  line-height: 70px;
  border-radius: 70px;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
}
#menu .inner .wrap .more a {
  display: block;
  border-radius: 70px;
}

/*event*/
#event {
  width: 100%;
  height: 100vh;
  background-color: #fffae6;
  position: sticky;
  overflow: hidden;
}
#event .inner {
  position: relative;
  top: 40%;
  padding: 0px;
  width: 100%;
}
#event .inner div {
  width: 100%;
  position: absolute;
  transform: scale(1.1);
  filter: brightness(0.7);
}
#event .inner div:hover {
  filter: brightness(1);
}
#event .inner div img {
  width: 100%;
}
#event .inner .event1 {
  transform: rotate(-5deg) translate(230px, 0px);
}
#event .inner .event2 {
  transform: rotate(10deg) translate(-230px, 180px);
}
#event .inner .event3 {
  transform: rotate(-15deg) translate(290px, 400px);
}
/*footer*/
footer {
  width: 100%;
  height: 500px;
  background-color: #f44f55;
  position: sticky;
}
footer .bg {
  width: 100%;
}
footer .bg img {
  width: 100%;
}
footer .logo {
  width: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  position: absolute;
}
footer .logo img {
  width: 100%;
}

footer .info {
  font-size: 22px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}

footer .info .add {
  margin-bottom: 20px;
  line-height: 22px;
}
footer .info .wrap {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
footer .contact {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
footer .copy {
  background-color: #f2591e;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
