@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "PyeongchangPeace";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pyeongchang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/**/
body {
  position: relative;
}
body.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 79, 85, 0.5);
  left: 0px;
  top: 0px;
  z-index: 900;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}

/*header*/

header {
  position: fixed;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  /* border: 1px solid red; */
  padding: 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
header h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
  width: 160px;
  height: 100px;
}
header h1 a {
  height: 100%;
  width: 100%;
}
header h1 a.logo_pk {
  opacity: 0;
}
header h1 a.logo_or {
  opacity: 0;
}
header h1:hover a.logo_bk {
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}
header h1:hover a.logo_or {
  opacity: 1;
  transition: 0.3s;
  z-index: 0;
}
header h1:hover a.logo_pk {
  opacity: 1;
  transition: 0.3s;
  z-index: 0;
}

header h1 a {
  display: block;
  position: absolute;
  left: 0px;
  height: 0px;
}
header h1 img {
  width: 100%;
  display: block;
}

/*gnb*/
#basic .gnb {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 24px;
  font-family: "YeogiOttaeJalnan";
  text-align: center;
  align-items: center;
}
#basic .gnb li {
  width: 142px;
  height: 56px;
  line-height: 56px;
  border: 1px solid #333;
  border-radius: 100px;
  color: #333;
}

#basic .gnb li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ed7121;
  color: #ed7121;
  transition: 0.3s;
}
#basic .gnb li:nth-child(1) {
  transform: rotate(-15deg);
}
#basic .gnb li:nth-child(2) {
  transform: rotate(10deg);
}
#basic .gnb li:nth-child(3) {
  transform: rotate(-15deg);
}
#basic .gnb li:nth-child(4) {
  transform: rotate(8deg);
}
#basic .gnb li:nth-child(5) {
  width: 104px;
  height: 104px;
  line-height: 104px;
  cursor: pointer;
}
#basic .gnb li a {
  display: block;
  border-radius: 52px;
}

/*moreMenu*/
.moreMenu {
  position: absolute;
  left: -660px;
  top: 0px;
  width: 600px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
  padding: 60px;
  box-sizing: border-box;
}
.moreMenu h1 {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 200px;
  height: 120px;
}
.moreMenu h1 a {
  width: 100%;
  height: 100%;
  position: static;
  display: block;
}
.moreMenu h1 img {
  display: block;
  width: 100%;
}
.moreMenu .gnb {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.moreMenu .gnb > li {
  font-size: 24px;
  font-family: "YeogiOttaeJalnan";
  color: #222;
  position: relative;
}
.moreMenu .gnb > li:hover {
  color: #ff986f;
}
.moreMenu .gnb .title {
  display: flex;
  align-items: center;
}
.moreMenu .gnb > li.on {
  color: #f2591e;
}
.moreMenu .gnb > li .title .arr {
  margin-left: 20px;
  font-size: 20px;
  opacity: 0;
  color: #aaa;
}
.moreMenu .gnb li.on .title .arr {
  opacity: 1;
}
.moreMenu .gnb li.on .title .arr:hover {
  color: #f2591e;
}
.moreMenu .close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 30px;
}

.moreMenu .gnb .sub {
  font-size: 16px;
  color: #555;
  display: none;
  padding-left: 12px;
}
.moreMenu .gnb .sub li {
  margin: 8px;
}

.moreMenu .gnb li.on ul.sub {
  display: block;
}
.moreMenu .sub li:hover {
  color: #f2591e;
}
/*visual*/
#visual {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/main/visual_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  position: sticky;
  top: 0px;
  overflow: hidden;
  /* overflow: hidden; */
}

#visual .bg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/main/visual_main.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(1100px, 63%, 1500px);
  position: relative;
  backdrop-filter: blur(2px);
}
#visual .stickers {
  width: 100%;
  height: 100%;
  position: relative;
}
.stickers li {
  width: 10%;
  max-width: 135px;
  position: absolute;
}
.stickers li img {
  width: 100%;
  display: block;
}
.stickers li:nth-child(1) {
  width: 27%;
  max-width: 460px;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.stickers li:nth-child(2) {
  top: 28%;
  left: 33%;
}
.stickers li:nth-child(3) {
  right: 33%;
  top: 30%;
}
.stickers li:nth-child(4) {
  right: 23%;
  top: 48%;
}
.stickers li:nth-child(5) {
  bottom: 22%;
  right: 31%;
  min-width: 150px;
}
.stickers li:nth-child(6) {
  bottom: 10%;
  left: 28%;
  width: 100%;
  min-width: 220px;
}
.stickers li:nth-child(7) {
  top: 44%;
  left: 24%;
}
.pin-spacer {
  height: 2000px;
}
/*videoBox*/
.videoBox {
  background-color: rgba(0, 0, 0, 0);
  width: 0%;
  height: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 80px;
}
.videoWrap {
  position: absolute;
  width: 80%;
  height: 90%;
  margin: 0px auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 80px;
  overflow: hidden;
  transform-origin: center;
}
.videoBox video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*loop*/
.loop {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 66px;
  max-height: 90px;
  overflow: hidden;
}
/*loopArea*/
.loopArea {
  position: sticky;
  width: 100%;
  height: 66px;
  background-color: #ffcece;
}
.eventLoop .loopText {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: normal;
  font-family: "PyeongchangPeace";
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  animation: scLeft 6s linear infinite;
  /* overflow: hidden; */
  width: 100%;
}
/*visualLoop*/
.visualLoop {
  height: 66px;
  max-height: 100px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f2591e 0 50%, #f44f55 50% 100%);
}
.visualLoop .loopText {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: normal;
  font-family: "PyeongchangPeace";
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  animation: scRight 6s linear infinite;
  /* overflow: hidden; */
  width: 100%;
}
.loopText li {
  display: flex;
  width: 480px;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}
.loopText li img {
  width: 28px;
  height: 28px;
  display: block;
}
@keyframes scRight {
  100% {
    margin-left: 0px;
  }
  0% {
    margin-left: -480px;
  }
}
@keyframes scLeft {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 480px;
  }
}
.text li {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.text li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.top_bg {
  height: 50%;
  background-color: #f2591e;
}
.bottom_bg {
  height: 50%;
  background-color: #f44f55;
}

/*main*/

/*section*/

/*about*/
#aboutTop {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0px;
  z-index: -1;
}
#about {
  width: 100%;
  height: 100vh;
  background-color: #f44f55;
  background-image: url(../../img/main/about_bg.png);
  background-repeat: no-repeat;
  background-size: 68%;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#about .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin: 0px auto;
  height: 100%;
  padding: 150px 0px;
}
#about .textBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 43%;
  word-break: keep-all;
  box-sizing: border-box;
}
#about .textBox h2 {
  font-family: "YeogiOttaeJalnan";
  font-size: 48px;
  line-height: 1;
  position: relative;
  text-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
#about .textBox h2::after {
  content: "";
  width: 0%;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -22px;
  left: 0px;
  transition: width 1.2s;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
#about .textBox h2.on::after {
  width: 390px;
}

#about .textBox p {
  font-size: 22px;
  opacity: 0;
  text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 16px;
  box-sizing: border-box;
}

#about .inner .textBox p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: height 0.8s ease;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    0 100%
  );
}

#about .inner .textBox p.on::after {
  height: 260px;
}
#about .content {
  position: relative;
  height: 90%;
  width: 50%;
}
#about .inner {
  position: relative;
}

#about .textBox {
  position: relative;
  z-index: 1;
}

#about .content::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eb8181;
  position: absolute;
  bottom: -30px;
  right: -60px;
  z-index: 0;
  filter: blur(2px);
}
#about .images {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#about .images li {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0;
  transition: 1s;
}
#about .images li.on {
  opacity: 1;
}
#about .images li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .content .more {
  position: absolute;
  right: -200px;
  bottom: -100px;
  z-index: 2;
}
#about .content .more img {
  width: 350px;
}

/*sectionWrap*/
#sectionWrap {
  position: sticky;
  top: 0px;
  z-index: 2;
}
/*menu*/
#menu {
  width: 100%;
  background-color: #ed7121;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
#menu.on::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  width: 1800px;
  height: 3000px;
  border: 9px dashed #fffae6;
  border-radius: 80px;
  transition: border 1s;
}

#menu::before {
  content: "";
  position: absolute;
  background-color: #ed7121;
  z-index: 0;
  left: 50%;
  top: 60px;
  transform: translateX(-51%);
  width: 270px;
  height: 50px;
}
#menu .sectionTitle {
  position: relative;
  z-index: 3;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 30px;
  width: 190px;
  margin: 0px auto;
  margin-top: 30px;
}
#menu .sectionTitle h2 {
  font-family: "YeogiOttaeJalnan";
  font-size: 48px;
  width: 180px;
  margin: 0px auto;
  height: 60px;
  line-height: 60px;
  text-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 0;
}
#menu .hiddenTitle {
  opacity: 0;
  z-index: 2;
}

/*menu bg*/

/*menu inner*/

#menu .inner {
  padding: 80px 0px;
  box-sizing: border-box;
  background-color: #fffae6;
  width: 1700px;
  position: relative;
  margin: 0px auto;
  border-radius: 80px 80px 0px 0px;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}

/*menu title*/
#menu .inner .title {
  position: relative;
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#menu .inner .title h3 {
  font-family: "Lilita One", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #333;
}
#menu .inner .title span {
  width: 300px;
  height: 1px;
  background-color: #333;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

/*menu inner wrap*/
#menu .inner .donuts {
  margin-bottom: 100px;
}
#menu .inner .donuts .wrap {
  position: relative;
}
#menu .inner .beverage .wrap {
  position: relative;
}
#menu .inner .wrap .menuWrap {
  width: 960px;
  overflow: hidden;
}
/*menu inner wrap menuList*/
#menu .inner .wrap .menuList {
  display: flex;
  align-items: center;

  gap: 60px;
  width: 100%;
  height: 450px;
  margin: 0px auto;
}
.menuViewport {
  overflow: hidden;
}
#menu .inner .wrap .menuList li {
  cursor: pointer;
  margin-left: 20px;
  flex-shrink: 0;
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: 0.3s;
}
#menu .inner .wrap .menuList li:hover {
  margin-bottom: 20px;
  transition: 0.3s;
}
#menu .inner .wrap .menuList li img {
  width: 70%;
}
#menu .inner .wrap .menuList li h4 {
  font-family: "Pyeongchang";
  font-weight: 700px;
  font-size: 20px;
  color: #333;
}

/*menu wrap chev*/
#menu .inner .wrap .chev {
  width: 1150px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  align-items: center;
  color: #fff;
}
#menu .inner .donuts .wrap .chev li {
  background-color: #f44f55;
}
#menu .inner .beverage .wrap .chev li {
  background-color: #78bbbf;
}

#menu .inner .wrap .chev li {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
#menu .inner .wrap .chev li.rightChev {
  right: 0px;
}
#menu .inner .wrap .chev li i {
  height: 40px;
  line-height: 40px;
}

/*more*/
#menu .inner .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .inner > div {
  position: relative;
}
#menu .inner .more {
  font-size: 22px;
  font-weight: bold;
  font-family: "PyeongchangPeace";
  color: #fff;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border-radius: 70px;
  background-color: #000;
  text-align: center;
  z-index: 3;
  position: relative;
  overflow: hidden;
}
#menu .inner .more a {
  display: block;
  border-radius: 70px;
  position: relative;
  z-index: 3;
}
#menu .inner .more .btnFill {
  z-index: 2;
  position: absolute;
  background-color: #f44f55;
  width: 180px;
  height: 50px;
  margin-left: -180px;
}
/*modal*/
.modalBox1 {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.modalBox2 {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.modalBox1.on {
  display: flex;
}
.modalBox2.on {
  display: flex;
}

.modal {
  font-family: "Noto Sans", sans-serif;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  background-color: white;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  position: relative; /* z-index가 작동하도록 보장 */
  z-index: 60;
}
#btn {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  font-size: 15px;

  background: #fff;
  border-radius: 50px;
  color: #999;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 8px;
  cursor: pointer;
  z-index: 100; /* 이미지보다 위 */
}
#btn2 {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  font-size: 15px;
  background: #fff;
  border-radius: 50px;
  color: #999;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 8px;
  cursor: pointer;
  z-index: 100; /* 이미지보다 위 */
}
.modalBox1 .modalImg p {
  font-size: 11px;
  line-height: 15px;
}
.modalBox1 .modalImg h5 {
  font-size: 13px;
}
.modalImg {
  width: 100%;
  height: 100%;
  position: relative;
  color: gray;
}
.modalImg h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #555;
  margin-top: 10px;
}
.modalImg h6 {
  color: gray;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.modalImg h4 {
  color: #555;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  word-break: keep-all;
}
.modalImg h5 {
  margin-top: auto;
  font-size: 15px;
}
.modalImg p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 22px;
}
.modalImg li {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  /* Flex 컨테이너로 설정 */
  flex-direction: column; /* 내용을 세로로 정렬 */
  justify-content: flex-start; /* 내용을 상단부터 배치 */
}
.modalImg li span {
  font-size: 12px;
}
.modalImg li.on {
  display: flex;
}

.modal img {
  width: 60%;
  display: block;
  margin: 0px auto;
}

/*event*/
#event {
  width: 100%;
  height: 100vh;
  background-color: #f44f55;
  overflow: hidden;
}
#event .inner {
  position: relative;
  width: 1700px;
  height: 500px;
  margin: 0px auto;
  background-color: #fffae6;
}
#event .inner div {
  top: 60%;
  width: 100%;
  position: absolute;
  transform: scale(1.1);
  filter: brightness(0.7);
  display: flex;
  justify-content: center;
}

#event .inner div:hover {
  filter: brightness(1);
}
#event .inner div img {
  width: 100%;
}
#event .inner .event1 {
  transform: rotate(-5deg) translate(230px, 0px);
}
#event .inner .event2 {
  transform: rotate(10deg) translate(-230px, 180px);
}
#event .inner .event3 {
  transform: rotate(-15deg) translate(290px, 400px);
}
